@charset "UTF-8";
.maincontents {
  border: 1px solid #e8dcdc;
}

/* Link */
.button {
  background: #e8dcdc;
  color: #5c6266;
}

/* ドロップダウンメニュー */

nav.droplinetabs * {
  color: #3d2727;	/* 文字色一括指定 */
}

/* 基本背景色（一番濃い色） */
nav.droplinetabs > ul > li,
nav.droplinetabs > ul > li > ul {
  background: #e2e2e2;
}

/* ホバー時の1段階薄い色 */
nav.droplinetabs > ul > li.here,
nav.droplinetabs > ul > li:hover {
  background: #f2ebeb;
}

/* other用 */
nav.droplinetabs > ul > li.other,
nav.droplinetabs > ul > li.other > a:hover {
  background: #e8dcdc;
}

/* 背景・リンク文字色ホバー時指定 */
nav.droplinetabs > ul > li > ul > li > a:hover,
nav.droplinetabs > ul > li > a:hover {
  background: #f2ebeb;
  color: #3d2727;
}

/* responsive layout CSS */
@media (max-width: 768px) {
  /* Top Level link style */
  .maincontents {
    border: 1px solid #e8dcdc;
  }
}
/* table */
table {
  margin: 1em 0 1em 0;
  border: 1px solid #242422;
}

table tr:nth-child(even) {
  background-color: #FBF6F6;
}

th {
  background-color: #d8c3c3;
  color: #303030;
  text-align: center;
  border: 1px solid #b9bdbd;
}

td {
  border: 1px solid #b9bdbd;
}

/* 見出し */
.maincontents h1 {
  background: #f2ebeb;
  border-bottom: 2px solid #392626;
  border-top: 2px solid #392626;
}
.maincontents H2 {
  border-color: #392626;
}
.maincontents H3 {
  border-color: #392626;
}
.maincontents H4 {
  border-color: #392626;
}
.maincontents H5 {
  border-color: #392626;
}

.place {
  border: 2px dashed #d8c3c3;
}
