@charset "UTF-8";
.maincontents {
  border: 1px solid #e8dcdc;
}

/* Link */
.button {
  background: #e8dcdc;
  color: #5c6266;
}

/* Horizontal CSS Menus: Here */
.droplinetabs {
  color: #3d2727;
}

.droplinetabs a {
  color: #3d2727;
}

/* Top Level LI style */
.droplinetabs > li {
  color: #3d2727;
}

/* Top Level link style */
.droplinetabs > li > a.here {
  background: #f2ebeb;
}

.droplinetabs > li > a.other {
  background: #e8dcdc;
  color: #3d2727;
}

/* Top Level link style on hover and when active */
.droplinetabs li:hover > a {
  color: #3d2727;
  background: #f2ebeb;
}

/* drop line ULs style */
.droplinetabs ul {
  background: #e2e2e2;
  color: #3d2727;
}

/* Arrow for LIs with sub ULs */
.droplinetabs li > a:after {
  /* add arrow inside LIs */
  border-top-color: #3d2727;
}

/* responsive layout CSS */
@media (max-width: 768px) {
  /* Top Level link style */
  .maincontents {
    border: 1px solid #e8dcdc;
  }
}
/* table */
table {
  margin: 1em 0 1em 0;
  border: 1px solid #242422;
}

table tr:nth-child(even) {
  background-color: #ece2e2;
}

th {
  background-color: #d8c3c3;
  color: #303030;
  text-align: center;
  border: 1px solid #b9bdbd;
}

td {
  border: 1px solid #b9bdbd;
}

/* 見出し */
.maincontents h1 {
  background: #f2ebeb;
  border-bottom: 2px solid #392626;
  border-top: 2px solid #392626;
}
.maincontents H2 {
  border-color: #392626;
}
.maincontents H3 {
  border-color: #392626;
}
.maincontents H4 {
  border-color: #392626;
}
.maincontents H5 {
  border-color: #392626;
}

.place {
  border: 2px dashed #d8c3c3;
}
