@font-face {
font-family: 'STIXTwoMath';
src: url('../font/STIXTwoText-Medium.woff2') format('woff2');
src: url('../font/STIXTwoText-Medium.ttf') format('truetype');
}

/* italic */
@font-face {
  font-family: 'STIXTwoMathItalic';
  src: url('../font/STIXTwoText-MediumItalic.woff2') format('woff2');
  src: url('../font/STIXTwoText-MediumItalic.ttf') format('truetype');
  font-style: italic;
}

.formula{
font-family: 'STIXTwoMath', "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo UI", "Meiryo", "Helvetica Neue", arial, sans-serif;
background: #f5f5ce;
}

.formula_italic {
font-family: 'STIXTwoMathItalic', "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo UI", "Meiryo", "Helvetica Neue", arial, sans-serif;
font-style: italic;
}
