$base-color: #e8e9d8;
$base-light1: lighten($base-color, 5%);
$base-lighth: lighten($base-color, 5%);
$base-light2:darken($base-color, 8%);
$base-light3: lighten($base-color, 2%);
$base-dark1: darken($base-color, 70%);
$base-desatu: desaturate($base-color, 40%);
$font-basecolor: #41432e;

.maincontents{
border:1px solid $base-color;
}

/* 背景に影 */

.bgs{
background-color: rgb(0 0 0 / 8%);
}

/* commentbox */

.commentbox {
border-right:2px dashed $base-light2;
border-bottom:2px dashed $base-light2;
border-left:2px dashed $base-light2;
}
.box-title {
background: $base-light1;
color: $font-basecolor;
}

/* Link */

.button{
	background: $base-color;
	color: #5c6266;
}

/* Horizontal CSS Menus: Here */

.droplinetabs{
	color: $font-basecolor;
}

.droplinetabs a{
	color: $font-basecolor;
}

/* Top Level LI style */
.droplinetabs > li{
	color: $font-basecolor;
}

/* Top Level link style */
.droplinetabs > li > a.here {
	background: $base-lighth;
}

.droplinetabs > li > a.other{
	background: $base-color;
	color: $font-basecolor;
}

/* Top Level link style on hover and when active */
.droplinetabs li:hover > a {
	color: $font-basecolor;
	background: $base-light1;
}


/* drop line ULs style */
.droplinetabs ul{
	background: $base-desatu;
	color: $font-basecolor;
}

/* Arrow for LIs with sub ULs */
.droplinetabs li > a:after {
	/* add arrow inside LIs */
	border-top-color: $font-basecolor;
}

/* responsive layout CSS */

@media (max-width: 768px) {
/* Top Level link style */

	.maincontents{
	border:1px solid $base-color;
	}
}

/* table */

table {
	margin: 1em 0 1em 0;
	border: 1px solid #242422;
	font-size:smaller;
}

table tr:nth-child(even){
	background-color: $base-light3;
}

th {
	background-color: $base-light2;
	color: #303030;
	text-align:center;
	border: 1px solid #b9bdbd;
}

td {
	border: 1px solid #b9bdbd;
}

/* 見出し */

.maincontents {
	h1{
	background: $base-light1;
	border-bottom:2px solid $base-dark1;
	border-top:2px solid $base-dark1;
	}

	H2{
	border-color:$base-dark1;
	}

	H3{
	border-color:$base-dark1;
	}

	H4{
	border-color:$base-dark1;
	}

	H5{
	border-color:$base-dark1;
	}
}


.place{
border:2px dashed darken($base-color, 50%);
}