@charset "UTF-8";
.maincontents {
  border: 1px solid #e8e9d8;
}

/* 背景に影 */
.bgs {
  background-color: rgba(0, 0, 0, 0.08);
}

/* commentbox */
.commentbox {
  border-right: 2px dashed #d9dabe;
  border-bottom: 2px dashed #d9dabe;
  border-left: 2px dashed #d9dabe;
}

.box-title {
  background: #f2f2e8;
  color: #41432e;
}

/* Link */
.button {
  background: #e8e9d8;
  color: #5c6266;
}

/* ドロップダウンメニュー */

nav.droplinetabs * {
  color: #41432e;	/* 文字色一括指定 */
}

/* 基本背景色（一番濃い色） */
nav.droplinetabs > ul > li,
nav.droplinetabs > ul > li > ul {
  background: #e1e1e1;
}

/* ホバー時の1段階薄い色 */
nav.droplinetabs > ul > li.here,
nav.droplinetabs > ul > li:hover {
  background: #f2f2e8;
}

/* other用 */
nav.droplinetabs > ul > li.other,
nav.droplinetabs > ul > li.other > a:hover {
  background: #e8e9d8;
}

/* 背景・リンク文字色ホバー時指定 */
nav.droplinetabs > ul > li > ul > li > a:hover,
nav.droplinetabs > ul > li > a:hover {
  background: #f2f2e8;
  color: #41432e;
}

/* responsive layout CSS */
@media (max-width: 768px) {
  /* Top Level link style */
  .maincontents {
    border: 1px solid #e8e9d8;
  }
}
/* table */
table {
  margin: 1em 0 1em 0;
  border: 1px solid #242422;
  font-size: smaller;
}

table tr:nth-child(even) {
  background-color: #F5F6F2;
}

th {
  background-color: #d9dabe;
  color: #303030;
  text-align: center;
  border: 1px solid #b9bdbd;
}

td {
  border: 1px solid #b9bdbd;
}

/* 見出し */
.maincontents h1 {
  background: #f2f2e8;
  border-bottom: 2px solid #393b21;
  border-top: 2px solid #393b21;
}
.maincontents H2 {
  border-color: #393b21;
}
.maincontents H3 {
  border-color: #393b21;
}
.maincontents H4 {
  border-color: #393b21;
}
.maincontents H5 {
  border-color: #393b21;
}

.place {
  border: 2px dashed #797c46;
}
