/* 経験値計算用CSS */

/* デフォルトでは非表示 */
.error {
	display: none; 
}

/* 隣接セレクタでinput:invalidの隣のエラーメッセージは表示する */
 
input:invalid + .error {
	display: block;
	color: red;
	font-size: 0.9em;
	padding:0;
	margin:0;
}

/* ボタン装飾用 */

.btn{
	text-align:center;
	cursor:pointer;
	font-size:medium;
	padding:5px;
	margin:8px;
	background:#d2d9d4;
	color:#000000;
	transition:.3s;
	box-shadow:1px 1px 2px #666666;
}
.btn:hover {
	box-shadow:none;
}
