@charset "UTF-8";
.maincontents {
  border: 1px solid #64BA02;
}

/* 背景に影 */
.bgs {
  background-color: rgba(0, 0, 0, 0.08);
}

/* commentbox */
.commentbox {
  border-right: 2px dashed #bae48a;
  border-bottom: 2px dashed #bae48a;
  border-left: 2px dashed #bae48a;
}

.box-title {
  background: #6fae28;
  color: #FFF;
}

/* Link */
.button {
  background: #64BA02;
  color: #FFF;
}

/* ドロップダウンメニュー */

nav.droplinetabs * {
  color: #FFF;	/* 文字色一括指定 */
}

/* 基本背景色（一番濃い色） */
nav.droplinetabs > ul > li,
nav.droplinetabs > ul > li > ul {
  background: #629e1e;
}

/* ホバー時の1段階薄い色 */
nav.droplinetabs > ul > li.here,
nav.droplinetabs > ul > li:hover {
  background: #7dc32c;
}

/* other用 */
nav.droplinetabs > ul > li.other,
nav.droplinetabs > ul > li.other > a:hover {
  background: #64BA02;
}

/* 背景・リンク文字色ホバー時指定 */
nav.droplinetabs > ul > li > ul > li > a:hover,
nav.droplinetabs > ul > li > a:hover {
  background: #7dc32c;
  color: #FFF;
}

/* responsive layout CSS */
@media (max-width: 768px) {
  /* Top Level link style */
  .maincontents {
    border: 1px solid #64BA02;
  }
}
/* table */
table {
  margin: 1em 0 1em 0;
}

th {
  background-color: #bae48a;
  padding: 2px;
  text-align: center;
  box-shadow: 1px 1px 3px #666;
}

tr {
  background-color: #FFF;
}

table tr:nth-child(even) {
  background-color: #F8FAF6;
}

td {
  box-shadow: 1px 1px 3px #666;
}

/* 見出し */
.maincontents h1 {
  background: #bae48a;
  border-bottom: 2px solid #132300;
  border-top: 2px solid #132300;
}
.maincontents H2 {
  border-color: #132300;
}
.maincontents H3 {
  font-size: 1.2em;
  line-height: 1.4;
  border-style: solid;
  font-weight: bold;
  padding: 0 0 0.1em 0.5em;
  margin: 1.5em 0 0 0.5em;
  border-width: 0px 0px 1px 3px;
  border-color: #132300;
}
.maincontents H4 {
  border-color: #132300;
}
.maincontents H5 {
  border-color: #132300;
}

.place {
  border: 2px dashed #bae48a;
}
