/* マス目用 */
@font-face{
	font-family:GEsubset;
	src:url('../font/GEsubset.woff2') format('woff2');
	src:url('../font/GEsubset.woff') format('woff')
	}

.mono{
	line-height:initial;
	font-family:GEsubset,monospace,serif;
	line-height:1.1;
	margin:.3rem;
	padding:.3rem;
	}

.dataarrow{
	line-height:initial;
	font-family:GEsubset,monospace,serif;
	line-height:1.1;
	margin:0;
	padding:0;
	}

@media(max-width:768px){
	.mono{
		line-height:initial;
		font-family:GEsubset,monospace,serif;
		line-height:1;
		margin:.3rem;
		padding:.3rem;
		}
		
	.dataarrow{
		line-height:initial;
		font-family:GEsubset,monospace,serif;
		line-height:1;
		margin:0;
		padding:0;
		}
}
