@charset "UTF-8";
.maincontents {
  border: 1px solid #2197d9;
}

/* 背景に影 */
.bgs {
  background-color: rgba(0, 0, 0, 0.08);
}

/* commentbox */
.commentbox {
  border-right: 2px dashed #b8dff4;
  border-bottom: 2px dashed #b8dff4;
  border-left: 2px dashed #b8dff4;
}

.box-title {
  background: #4aace3;
  color: #FFF;
}

/* Link */
.button {
  background: #2197d9;
  color: #FFF;
}

/* Horizontal CSS Menus: Here */
.droplinetabs {
  color: #FFF;
}

.droplinetabs a {
  color: #FFF;
}

/* Top Level LI style */
.droplinetabs > li {
  color: #FFF;
}

/* Top Level link style */
.droplinetabs > li > a.here {
  background: #4aace3;
}

.droplinetabs > li > a.other {
  background: #2197d9;
  color: #FFF;
}

/* Top Level link style on hover and when active */
.droplinetabs li:hover > a {
  color: #FFF;
  background: #4aace3;
}

/* drop line ULs style */
.droplinetabs ul {
  background: #3a90c0;
  color: #FFF;
}

/* Arrow for LIs with sub ULs */
.droplinetabs li > a:after {
  /* add arrow inside LIs */
  border-top-color: #FFF;
}

/* responsive layout CSS */
@media (max-width: 768px) {
  /* Top Level link style */
  .maincontents {
    border: 1px solid #2197d9;
  }
}
/* table */
table {
  margin: 1em 0 1em 0;
}

th {
  background-color: #b8dff4;
  padding: 2px;
  text-align: center;
  box-shadow: 1px 1px 3px #666;
}

tr {
  background-color: #FFF;
}

table tr:nth-child(even) {
  background-color: #e5f3fb;
}

td {
  box-shadow: 1px 1px 3px #666;
}

/* 見出し */
.maincontents h1 {
  background: #b8dff4;
  border-bottom: 2px solid #0d3b54;
  border-top: 2px solid #0d3b54;
}
.maincontents H2 {
  border-color: #0d3b54;
}
.maincontents H3 {
  border-color: #0d3b54;
}
.maincontents H4 {
  border-color: #0d3b54;
}
.maincontents H5 {
  border-color: #0d3b54;
}

.place {
  border: 2px dashed #b8dff4;
}
