html {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button,input,textarea{font-family:inherit;}

body{
	margin:1px;
	line-height:1.4;
	font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo UI", "Meiryo", "Noto Sans", "Helvetica Neue", arial, sans-serif;
/* 	background-color:#9e9c9b; */
}

a:link{
	color:#3e4ba8;
}

a:visited{
	color:#7c2f7d;
}

#google_search{
	padding: 0.5em;
}

dt:after{
	content: '\FF1A';
}

dd{
	margin-left:1.5em;
}

/* 外部リンク用　aタグに追加するSVGファイル */
/* smoothScroll.jsの中の外部リンク用　aタグチェッカーと連携 */

a.external-link::after {
	content: url("../icon/mark_newlink.svg");
	padding-left:.3em;
	display: inline-block;
	width: 14px;
	height: 14px;
}

/* サイドバーに現在地マークつける */
/* smoothScroll.jsの中のnowマーク用JavaScriptと連携 */

.now_location::after {
	content: url("../icon/location_on.svg");
	padding-left:.2em;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: text-top;
}

/* タブの現在地を太字に */

a.now_tab {
	font-weight:bold;
}

/* スマホはリンクのhoverなしで */

@media only screen and (min-width: 768px) {
	a:link:hover{
	color:#3e4ba8;
	background-color:#e8ebfa;
	}

	a:visited:hover{
	color:#7c2f7d;
	background-color:#faf2fa;
	}
}

img{
	max-width: 100%;
	height: auto;
	border-style: none;
}

hr {
	box-sizing: content-box;
	border: none;
	border-top: 3px double #999;
	color: #999;
	overflow: visible;
	text-align: center;
	width: 90%;
	height: 5px;
}

hr::after {
	background: #FAFAFA;
	content: '\00A7';
	padding: 0 4px;
	position: relative;
	top: -13px;
}

.tri::before {
	content: '\25B6';
}

/* 引用blockquote */
blockquote {
	position:relative;
	padding: 10px;
	margin: 1.4em 5px;
	box-sizing: border-box;
	border:2px solid #b9bec7;
	background-color: #FAFAFA;
}
blockquote:before{
	position:absolute;
	top:-15px;
	left:-4px;
	content: '';
	display: inline-block;
	width: 30px;
	height: 20px;
	background-image: url(../icon/mark_quote1.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #FAFAFA;
	line-height:1;
}
blockquote:after{
	position:absolute;
	right:-6px;
	bottom:-15px;
	content: '';
	display: inline-block;
	width: 30px;
	height: 20px;
	background-image: url(../icon/mark_quote2.svg);
	background-repeat: no-repeat;
	background-size: contain;
	vertical-align: middle;
	line-height:1;
	background-color: #FAFAFA;
}
blockquote cite {
	display: block;
	font-size: 0.9rem;
	text-align: right;
}
blockquote p:first-child {
	margin:	0 0 0.5rem 0;
}
blockquote p:last-child {
	margin:	0.5rem 0 0 0 ;
}

/* スマホ幅で見やすい位置で<wbr>で改行入れる用 */
.breakword {
	word-break: keep-all;
	overflow-wrap: break-word;
}

/* グリッドレイアウト */

.maincontainer{
	display: grid;
	grid-template-areas:
		"header header"
		"sidebar content"
		"footer footer";
	grid-template-columns: 220px auto;
	gap: 0;
	background: #FAFAFA;
	margin:0.3rem;
	box-shadow: 0 0 10px 0 #241c1a;
}

#header{
	grid-area: header;
}

#contentcolumn{
	grid-area: content;
	background-color:#FAFAFA;
}

#leftcolumn{
	grid-area: sidebar;
	background-color:#FAFAFA;
}

#footer{
	grid-area: footer;
	width: 100%;
/* 	background: linear-gradient(#6e1b18, 60%, #ba3e3a); */
	color: #F5F5F5;
	text-align: center;
	padding: 1.2rem 0;
}

/* 次ページリンク用　グリッドレイアウト */

.pagelink{
	display: grid;
	width: fit-content;
	grid-template-areas:
		"prev center next";
	grid-template-columns: auto auto 1fr;
	gap: 1rem;
	margin: 2rem auto 1rem auto;
}

#pageprev{
	grid-area: prev;
	text-align: right;
}

#pagecenter{
	grid-area: center;
}

#pagenext{
	grid-area: next;
}

/* 次ページリンク用　グリッドレイアウト（レスポンシブ　幅狭い時用） */
@media (max-width: 400px){
	.pagelink{
		grid-template-areas:
			"prev next"
			"center center";
		grid-template-columns: auto;
	}
	#pagecenter{
		text-align: center;
	}
}

/* Link */

.foot{
	text-align: center;
	margin: 2rem 0 1rem 0;
}

.button{
	border-radius: 10px;
	padding: 12px;
	line-height:3;
}

@media (max-width: 400px){
	.button{
		border-radius: 6px;
		padding: 8px;
	}
}

.place{
	margin:0.5rem;
	padding:0.5rem;
}

.place p:first-child {
	margin:0 0 0.5rem 0;
}
.place p:last-child {
	margin:0.5rem 0 0 0 ;
}

/* ヘッダ装飾用、タイトルはhoverなし */

#topsection{
	background: #FAFAFA;
	background-repeat: repeat-x;
	background-image: url(../img/bg.svg);
	height: 50px;
	padding: 40px 0 0 0.5rem;
	font-size:1.5rem;
}

#topsection a:link:hover,
#topsection a:visited:hover,
#footer a:link:hover,
#footer a:visited:hover{
	color:initial;
	background-color:initial;
}

/* SNSシェアボタンタイトル */

.sharelist{
	margin: 1rem;
	padding: 0.25rem;
/* 	background: linear-gradient(#6e1b18, 60%, #ba3e3a); */
	color: #F5F5F5;
	text-align: center;
}

.sharelist:before{
	content: '\25BC';
	margin-right:2px;
}

/* グリッドレイアウト内 */

.innertube{
	margin: 0px;
}

.innertube h2{
	font-size:1.2rem;
	line-height:1.3;
	margin:0.5rem 5px 0.5rem 5px;
	border-bottom:1px solid #2E3C43;
	border-top:1px solid #2E3C43;
}

.innertube ul {
	padding-left: 1.5rem;
}

.innertube li{
	margin:0.3rem 0 0.3rem 0;
}

.maincontents {
	margin: 0 5px 5px 0;
	padding: 5px;
}

.maincontents ul {
	padding-left: 2rem;
}

.maincontents ol {
	padding-left: 2rem;
}

.maincontents li{
	margin:0.3rem 0 0.3rem 0;
}

.maincontents p{
	margin:	1rem 0;
}

.r{
	color:#ed3e3f;
}

.bgy{
	background-color:#f5f53b;
}

/* commentbox */

.commentbox {
	margin:0 0 0 1rem;
	padding:0.5rem;
}
.box-title {
	font-size: 1rem;
	padding:0.2rem;
	margin:0;
	font-weight:bold;
}

.box-title::before {
	content: '\2714';
	margin-right:5px;
}

.commentbox p {
	margin: 0.6rem 0 0.4rem 0;
}

/* 画像 */

.imgbox{
	padding:0.5rem 0 0.5rem 0;
	margin:0.5rem;
	position: relative;
	width: 240px;
}

.imgbox .shadow{
	box-shadow: 0 0 5px 0px #314549;
}

.icons{
	vertical-align: text-bottom;
	height: 1.8rem;
}

/* 画像のズームアイコン */

.imgboxico{
	position: absolute;
	bottom:0%;
	right:0%;
	transform: translate(-5px,-15px);
	background: #FFF;
	border: 1px solid #cfd6e8;
	opacity: 0.75;
}

/* BREAKDOWNのLEADER用 */

.flag{
	vertical-align: text-bottom;
	height: 1.2rem;
}

/* トロフィー＆実績用 */

.fusen{
	padding: 0.5em 1em;
	margin: 1em 0;
	background: #f4f4f4;
	border-right: solid 6px #e6b422;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
	display: table;
}

.fusen p {
	margin: 0; 
	padding: 0;
}

/* Chart */

.chart{
	list-style: none;
	border-left: 6px solid #c5c7c9;
	margin: 0 0 0 5px;
}

.chart .ch_title{
	font-size: 1.1rem;
	font-weight: bold;
	background: #c5c7c9;
	margin: 0 5px 0 -18px;
}

.chart .ch_title::before {
	content: '\25B6';
}

.chart .ch_box{
	margin: 0 0 1rem -20px;
	padding: 0.5rem 0 0 0;
	border: 1px solid #c5c7c9;
}

.chart .ch_tx{
	font-size: 1rem;
	margin: 0.5rem;
}

/* 上に戻る */

.gotop{
	display: block;
	box-sizing: border-box;
	text-align: center;
	text-decoration: none;
	opacity: 0.3;
	position: fixed;
	bottom:3rem;
	right:1.4rem;
	z-index: 10000;
	transition: 0.4s ease;
	width: 4rem;
	cursor : pointer;
}

.gotop:hover{
	opacity: 0.5;
	transition: 0.4s;
}

/* アコーディオンメニュー */
.accordion {
	margin: 0 auto;
	max-width: 60vw;
}

.toggle {
	display: none;
}

.option {
	position: relative;
	margin-bottom: 0.5rem;
}

.title,
.content {
/* 	-webkit-backface-visibility: hidden; */
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s ease;
}

.title {
	margin:	0 0.5rem 0 0;
	padding: 0.5rem;
	display: block;
	font-weight: bold;
	cursor : pointer;
}

.title_n {
	margin:	0 0.5rem 0 0;
	padding: 0.5rem;
	display: block;
	font-weight: bold;
}

.title_n2 {
	margin:	0 1rem 0 0;
	padding: 0.5rem;
	display: block;
	font-weight: bold;
	cursor : pointer;
	opacity: 0.95;
}

.title::after,
.title::before {
	content: "";
	position: absolute;
	right: 1.25rem;
	top: 1rem;
	width: 2px;
	height: 0.75rem;
	background-color: #1f1f21;
	transition: all 0.3s ease;
}

.title::after {
	transform: rotate(90deg);
}

.content {
	max-height: 0;
	overflow: hidden;
}

.content p {
	margin:	0.5rem 0 0 0.5rem;
}

.content ul{
	padding:0 0 0 1.4rem;
}

.content li{
	margin:0.2rem 0 0.2rem 0;
	text-indent: -0.3rem;
}

.toggle:checked + .title + .content {
	max-height: 800px;
	transition: all 1.5s ease;
}
.toggle:checked + .title::before {
	transform: rotate(90deg) !important;
}

/* flexbox */

.flexwrap {
	display: flex;
	flex-wrap: wrap;
}

.flexitem {
	padding:0.1rem 1rem 0.1rem 0;
}

.sidelink {
	margin:	0 0.5rem 0 0;
	padding: 0.5rem;
	font-weight: bold;
	cursor : pointer;
	color: #f5f9fc;
/* 	background: #8796B0; */
}

.sidelink::before {
	content: '\25B6';
}

/* social button */

.social {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 0 1rem 0;
}

.social p {
	padding: 0;
	margin: 0.3rem 0;
}

/* 見出し 共通部分*/

.maincontents h1 {
	font-size: 1.1rem;
	line-height: 1.3;
	padding: 2px;
	margin: 0.2rem 0px 0.2rem 0px;
}
.maincontents H2 {
	font-size: 1.3rem;
	line-height: 1.4;
	border-style: solid;
	font-weight: bold;
	padding: 0.1rem 0 0.1rem 0.5rem;
	margin: 1rem 0px 0.1rem 0;
	border-width: 0px 0px 1px 10px;
}
.maincontents H3 {
	font-size: 1.2rem;
	line-height: 1.4;
	border-style: solid;
	font-weight: bold;
	padding: 0 0 0.1rem 0.5rem;
	margin: 1.5rem 0 0 0.5rem;
	border-width: 0px 0px 1px 3px;
}
.maincontents H4 {
	font-size: 1rem;
	line-height: 1.3;
	border-style: solid;
	font-weight: bold;
	padding: 1rem 0px 0.2rem 1rem;
	margin: 1rem 0 0 0.7rem;
	border-width: 0px 0px 1px 0px;
}
.maincontents H5 {
	font-size: 1rem;
	line-height: 1.3;
	border-style: solid;
	font-weight: bold;
	padding: 0 0 0.1rem 0.5rem;
	margin: 1rem 0 0 0.8rem;
	border-width: 0px 0px 0px 5px;
}

/* responsive layout CSS */

@media (max-width: 768px){ 

/* スマホではグリッドレイアウト一列並び */

	.maincontainer{
	display: grid;
	grid-template-areas:
		"header"
		"content"
		"sidebar"
		"footer";
	grid-template-columns: auto;
	gap: 0;
	margin:0;
	background: #FAFAFA;
	}

	#contentcolumn{
	margin: 0;
	padding: 0;
	}
	
	#leftcolumn{
	margin: 0;
	padding: 0;
	}

	.maincontents{
	margin: 0 5px 5px 5px;
	padding: 5px;
	}

	.gotop{
	bottom:2em;
	right:0.1em;
	width: 2.5rem;
	}
	
	.innertube li{
	margin:0.5rem 0 0.5rem 0;
	}

	.maincontents li{
	margin:0.5rem 0 0.5rem 0;
	}
	
	.maincontents ul {
	padding-left: 1.5rem;
	}
	
	.maincontents ol {
	padding-left: 1.5rem;
	}
	
	.content li{
	margin:0.3rem 0em 0.3rem 0em;
	}

	.imgbox{
	padding:0.2rem 0 0.2rem 0;
	margin:0.2rem;
	position: relative;
	width: 200px;
	}
}

/*Youtube用*/

@media (max-width: 900px){ 
	.movie-wrap {
		position: relative;
		padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
		height: 0;
		overflow: hidden;
	}
	 
	.movie-wrap iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/* ドロップダウンメニュー 共通部分 */

/* タブ並び　text-align: leftで左寄せ指定 */
nav.droplinetabs{
  text-align: left;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 5;	/* ホバー時の重なり考慮（画像のモーダルよりは低くする） */
}

nav.droplinetabs *{
	box-sizing: border-box;
}

/* タブのaリンクの下線削除 */
nav.droplinetabs a {
  text-decoration:none;
}

/* タブのul　リスト頭の・をlist-style: noneで削除
必要があればul要素のcssをリセットする */
nav.droplinetabs ul {
  list-style: none;
  padding:0;
  margin: 0;	/* 0にしないと隙間が開く */
}

/* タブ */
nav.droplinetabs > ul > li {
/*   cursor: pointer;	カーソルはポインタに */
  text-align: center;
  display: inline-block;
  border-radius: 10px 10px 0 0;	/* タブ形状、上側だけborder-radiusで丸くする */
  margin: 0;	/* タブとタブの間の指定をするならmargin-rightだけ変更 */
}

nav.droplinetabs > ul > li > a {
  display: inline-block;
  border-radius: 10px 10px 0 0;
  padding: 14px;	/* タブ形状合わせその1 */
}

/* button要素のcssをリセット */
nav.droplinetabs button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  appearance: none;
  font: inherit;
  color: inherit;
  
  padding: 14px;	/* タブ形状合わせその2 */
}

/* 現在地タブ（buttonタグ指定）の文字列bold */
nav.droplinetabs .here > button{
  font-weight:bold;
}

/* ドロップダウンありタブは▼マークつける */
nav.droplinetabs > ul > li > button::after {
  content: ' \25BC';
  font-size: x-small;
}

/* responsive layout CSS */
@media (max-width: 768px){ 
	nav.droplinetabs ul {
		margin: 0 5px;	/* 左詰めの時の位置補正 */
	}
	nav.droplinetabs > ul > li{
		border-radius: 0;
		margin-top: 5px;
	}
}

/* ホバー前のドロップダウン部分 */
nav.droplinetabs ul ul {
  padding: 5px 0 ;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0px;
  /* 初期状態 */
  opacity: 0;
  transform-origin: top;	/* rotateXの回転軸をトップに */
  transform: rotateX(90deg);	/* rotateXで90度回す（実質非表示） */
  transition: opacity 0.5s ease, transform 0.5s ease;	/* ホバー時の透過度及び変形時間指定 */
  pointer-events: none; /* hoverされてない時はクリック不可 */
}

/* ホバー時ドロップダウン部分の動作 */
nav.droplinetabs ul li:hover > ul {
  opacity: 1;	/* 透過度なしへ */
  transform: rotateX(0deg);	/* rotateX解除 */
  pointer-events: auto;
  box-shadow: 0 3px 5px #eee;	/* ドロップダウン部分に影付けて見分けやすくする */
}

/* ホバー時 各リンクの形状 */
nav.droplinetabs > ul > li > ul > li > a {
  border-radius: 10px;
  margin:3px;
  padding:10px;
  float: left; /* メニュー横並べ */
}

/*フルスクリーンメニュー用*/

.navigation__checkbox {
	display: none;
}

.navigation__button {
	position: fixed;
	top: 0.2rem;
	right: 0.2rem;
	height: 5rem;
	width: 5rem;
	text-align: center;
	background-color: #fff;
	border-radius: 50%;
	z-index: 300;
	cursor: pointer;
	opacity: 0.5;
}

.navigation__background {
	position: fixed;
	top: 0.2rem;
	right: 0.2rem;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	background: #4A676A;
	background-size: cover;
	background-position: center;
	z-index: 100;
	transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
	opacity: 0.3;
}

.navigation__nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	opacity: 0;
	width: 0;
	visibility: hidden;
	z-index: 200;
	transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
	/*@include center;*/
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 80%;
	list-style: none;
}

.navigation__item {
	margin: 1rem;
}

.navigation__checkbox:checked~.navigation__background {
	transform: scale(80)
}

.navigation__checkbox:checked~.navigation__nav {
	width: 100%;
	visibility: visible;
	opacity: 1;
}

.navigation__icon {
	position: relative;
	margin-top: 2.5rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
	display: inline-block;
	width: 2.2rem;
	height: 2px;
	background-color: #4A676A;
}

.navigation__icon::before,
.navigation__icon::after {
	content: '';
	position: absolute;
	left: 0;
	transition: all 200ms;
}

.navigation__icon::before {
	top: -.8rem;
}

.navigation__icon::after {
	top: .8rem;
}

.navigation__button:hover .navigation__icon::before {
	top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
	top: 1rem;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
	background-color: transparent;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
	top: 0;
	transform: rotate(135deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
	top: 0;
	transform: rotate(-135deg);
}

/* responsive layout CSS */

@media (max-width: 768px){

	.navigation__button {
		position: fixed;
		top: 0.2rem;
		right: 0.2rem;
		height: 3rem;
		width: 3rem;
		text-align: center;
		background-color: #fff;
		border-radius: 50%;
		z-index: 300;
		cursor: pointer;
		opacity: 0.5;
	}
	
	.navigation__background {
		position: fixed;
		top: 0.2rem;
		right: 0.2rem;
		height: 3rem;
		width: 3rem;
		border-radius: 50%;
		background: #4A676A;
		background-size: cover;
		background-position: center;
		z-index: 100;
		transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
		opacity: 0.3;
	}
	.navigation__icon {
		position: relative;
		margin-top: 1.5rem;
	}
	
	.navigation__icon,
	.navigation__icon::before,
	.navigation__icon::after {
		display: inline-block;
		width: 1.8rem;
		height: 2px;
		background-color: #4A676A;
	}
	
	.navigation__icon::before,
	.navigation__icon::after {
		content: '';
		position: absolute;
		left: 0;
		transition: all 200ms;
	}
	
	.navigation__icon::before,
	.navigation__button:hover .navigation__icon::before {
		top: -.5rem;
	}
	
	.navigation__icon::after,
	.navigation__button:hover .navigation__icon::after {
		top: .5rem;
	}
	.navigation__item {
		margin: 0.5rem;
	}
}
