/* 画像モーダル表示 modal.min.jsと連携 */

/* モーダル表示（初期状態非表示） */
.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* モーダル表示状態
JavaScriptで、modalクラスにElement.classList.add("show")を指定することで変更する */
.modal.show {
  opacity: 1;
  visibility: visible;
}

/* モーダル画像サイズ */
.modal-img {
  display: block;
  transform: scale(.9, .9);
  transition: transform 0.3s ease;
  max-width: 95%;
  max-height: 95%;
}

/* モーダル表示状態の時にtransform: scaleを0.9→1倍にtransitionで拡大する（閉じる時は逆） */
.modal.show .modal-img {
  transform: scale(1, 1);
  max-width: 95%;
  max-height: 95%;
}

/* モーダルのサムネイル */
.thumbnail {
  cursor: pointer;
  box-shadow: 0 0 5px 0px #314549;
}

/* モーダル表示を閉じるボタン */
.modal-close {
  z-index: 99999;
  position: absolute;
  color:#FFF;
  text-shadow: 2px 2px 2px #222,
  -2px -2px 2px #222,
  -2px 2px 2px #222,
  2px -2px 2px #222,
  0px 2px 2px #222,
  0 -2px 2px #222,
  -2px 0 2px #222,
  2px 0 2px #222;
  opacity: .5;
  font-size: 50px;
  top: 60px;
  right: 40px;
  cursor: pointer;
}

/* モーダルで左矢印を表示（初期状態非表示） */
.modal-left {
  z-index: 99998;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  color:#FFF;
  text-shadow: 2px 2px 2px #222,
  -2px -2px 2px #222,
  -2px 2px 2px #222,
  2px -2px 2px #222,
  0px 2px 2px #222,
  0 -2px 2px #222,
  -2px 0 2px #222,
  2px 0 2px #222;
  font-size: 60px;
  top: 50%;
  left: 10px;
  padding: 5px;
  cursor: pointer;
}
/* 表示状態 */
.modal-left.show {
  opacity: .3;
  visibility: visible;
}


/* モーダルで右矢印を表示（初期状態非表示） */
.modal-right {
  z-index: 99997;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  color:#FFF;
  text-shadow: 2px 2px 2px #222,
  -2px -2px 2px #222,
  -2px 2px 2px #222,
  2px -2px 2px #222,
  0px 2px 2px #222,
  0 -2px 2px #222,
  -2px 0 2px #222,
  2px 0 2px #222;
  font-size: 60px;
  top: 50%;
  right: 10px;
  padding: 5px;
  cursor: pointer;
}

/* 右矢印表示状態 */
.modal-right.show {
  opacity: .3;
  visibility: visible;
}

/* responsive layout CSS */

@media (max-width: 768px){ 
  .modal-close {
  font-size: 40px;
  top: 50px;
  right: 20px;
  }

  .modal-left {
  font-size: 40px;
  top: 50%;
  left: 5px;
  }

  .modal-right {
  font-size: 40px;
  top: 50%;
  right: 5px;
  }

}
