.maincontents {
  border: 1px solid #d7d5e0;
}

/* 背景に影 */
.bgs {
  background-color: rgba(0, 0, 0, 0.12);
}
/* フッタ　リンク用グリッドレイアウト */
.linkgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7em, 1fr));
  grid-column-gap: 0.5em;
  grid-row-gap: 5px;
}
.linkgrid2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  grid-column-gap: 0.1em;
  grid-row-gap: 5px;
}
/* commentbox */
.commentbox {
  border-right: 2px dashed #c1becf;
  border-bottom: 2px dashed #c1becf;
  border-left: 2px dashed #c1becf;
}
.box-title {
  background: #e5e4eb;
  color: #2E3C43;
}
/* Link */
.button {
  background: #d7d5e0;
  color: #5c6266;
}

/* ドロップダウンメニュー */

nav.droplinetabs * {
  color: #2E3C43;	/* 文字色一括指定 */
}

/* 基本背景色（一番濃い色） */
nav.droplinetabs > ul > li,
nav.droplinetabs > ul > li > ul {
  background: #c9c6d5;
}

/* ホバー時の1段階薄い色 */
nav.droplinetabs > ul > li.here,
nav.droplinetabs > ul > li:hover {
  background: #e5e4eb;
}

/* other用 */
nav.droplinetabs > ul > li.other,
nav.droplinetabs > ul > li.other > a:hover {
  background: #d7d5e0;
}

/* 背景・リンク文字色ホバー時指定 */
nav.droplinetabs > ul > li > ul > li > a:hover,
nav.droplinetabs > ul > li > a:hover {
  background: #e5e4eb;
  color: #2E3C43;
}

/* responsive layout CSS */
@media (max-width: 768px) {
  /* Top Level link style */
  .maincontents {
    border: 1px solid #d7d5e0;
  }
}
/* table */
table {
  margin: 1em 0 1em 0;
  border: 1px solid #252626;
}
@media (max-width: 768px) {
  table {
    font-size: smaller;
  }
}
table tr:nth-child(even) {
  background-color: #dddbe4;
}
th {
  background-color: #c1becf;
  color: #303030;
  text-align: center;
  border: 1px solid #b9bdbd;
}
td {
  border: 1px solid #b9bdbd;
}
.stat {
  background-color: #d3d8db;
}
.stat2 {
  background-color: #a8b6bd;
}
/* 見出し */
.maincontents h1 {
  background: #e5e4eb;
  border-bottom: 2px solid #24222e;
  border-top: 2px solid #24222e;
}
.maincontents H2 {
  border-color: #24222e;
}
.maincontents H3 {
  border-color: #24222e;
}
.maincontents H4 {
  border-color: #24222e;
}
.maincontents H5 {
  border-color: #24222e;
}
.place {
  border: 2px dashed #c1becf;
}
