body{
	background-color:#9e9c9b;
}

#footer{
	background: linear-gradient(#6e1b18, 60%, #ba3e3a);
}

/* SNSシェアボタンタイトル */

.sharelist{
	background: linear-gradient(#6e1b18, 60%, #ba3e3a);
}

.sidelink {
	background: #8796B0;
}

/* 敵初期配置用レイアウト */

#parent1,#parent2,#parent3,#parent4,#parent5,#parent6,#parent7,#parent8,#parent9 {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(7, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	width: 300px;
} 

#parent1 > div,#parent2 > div,#parent3 > div,#parent4 > div,#parent5 > div,#parent6 > div,#parent7 > div,#parent8 > div,#parent9 > div {
	padding: 0;
	border: 1px solid gray;
	height:1.5em;
}
	#text1,#text2,#text3,#text4,#text5,#text6,#text7,#text8,#text9 {
	font-size: smaller;
	min-width: 300px;
	}
@media (max-width: 600px){
	#parent1,#parent2,#parent3,#parent4,#parent5,#parent6,#parent7,#parent8,#parent9 {
		font-size: smaller;
		width: 240px;
	}
	#text1,#text2,#text3,#text4,#text5,#text6,#text7,#text8,#text9 {
		width: 240px;
	}
}

.selected-row {
	font-weight: bold;
}