@charset "UTF-8";
.maincontents {
  border: 1px solid #51635C;
}

/* 背景に影 */
.bgs {
  background-color: rgba(0, 0, 0, 0.08);
}

/* commentbox */
.commentbox {
  border-right: 2px dashed #c8d2ce;
  border-bottom: 2px dashed #c8d2ce;
  border-left: 2px dashed #c8d2ce;
}

.box-title {
  background: #748d83;
  color: #FFF;
}

/* Link */
.button {
  background: #51635C;
  color: #FFF;
}

/* ドロップダウンメニュー */

nav.droplinetabs * {
  color: #FFF;	/* 文字色一括指定 */
}

/* 基本背景色（一番濃い色） */
nav.droplinetabs > ul > li,
nav.droplinetabs > ul > li > ul {
  background: #5a5a5a;
}

/* ホバー時の1段階薄い色 */
nav.droplinetabs > ul > li.here,
nav.droplinetabs > ul > li:hover {
  background: #748d83;
}

/* other用 */
nav.droplinetabs > ul > li.other,
nav.droplinetabs > ul > li.other > a:hover {
  background: #51635C;
}

/* 背景・リンク文字色ホバー時指定 */
nav.droplinetabs > ul > li > ul > li > a:hover,
nav.droplinetabs > ul > li > a:hover {
  background: #748d83;
  color: #FFF;
}

/* responsive layout CSS */
@media (max-width: 768px) {
  /* Top Level link style */
  .maincontents {
    border: 1px solid #51635C;
  }
}
/* table */
table {
  margin: 1em 0 1em 0;
}

th {
  background-color: #c8d2ce;
  padding: 2px;
  text-align: center;
  box-shadow: 1px 1px 3px #666;
}

tr {
  background-color: #FFF;
}

table tr:nth-child(even) {
  background-color: #F3F5F4;
}

td {
  box-shadow: 1px 1px 3px #666;
}

/* 見出し */
.maincontents h1 {
  background: #c8d2ce;
  border-bottom: 2px solid #3a4742;
  border-top: 2px solid #3a4742;
}
.maincontents H2 {
  border-color: #3a4742;
}
.maincontents H3 {
  border-color: #3a4742;
}
.maincontents H4 {
  border-color: #3a4742;
}
.maincontents H5 {
  border-color: #3a4742;
}

.place {
  border: 2px dashed #c8d2ce;
}
