/* セール用 */

.saleinfo{
	position: relative;
	padding: 1em 0.2em 0 0.2em ;
	border: 3px solid #052468;
	display: inline-block;
}
.saleinfobox{
	position: absolute;
	top: -3px;
	left: -3px;
	height: 24px;
	padding: 0 1em;
	color: #fff;
	background: #052468;
}

.saleinfo table {
	margin: 1em 0 0.2em 0;
	box-shadow: initial;
	border-collapse: collapse;
}

.saleinfo th {
	border: 1px solid #062D82;
	background-color: #AEC0E8;
	padding: 0.2em;
	text-align:center;
	box-shadow: initial;
}

.saleinfo tr {
	background-color: #fafafa;
	border: 1px solid #062D82;
	box-shadow: initial;
}

.saleinfo table tr:nth-child(even){
	background-color: #f0f2f7;
}

.saleinfo td {
	border: 1px solid #062D82;
	padding: 0.5em;
	box-shadow: initial;
}

/* 30th用
.an_info{
	position: relative;
	padding: 1em 0.2em 0 0.2em ;
	border: 3px solid #383838;
	display: inline-block;
	word-break: keep-all;
	overflow-wrap: break-word;
}

.an_infobox{
	position: absolute;
	top: -3px;
	left: -3px;
	height: 24px;
	padding: 0 1em;
	color: #fff;
	background: #383838;
}
 */