RewriteEngine On
RewriteCond %{HTTPS} !on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

SetEnvIf Request_URI ".*" Ngx_Cache_NoCacheMode=off
SetEnvIf Request_URI ".*" Ngx_Cache_StaticMode

# アクセス禁止処理
order allow,deny
allow from all
deny from *.bc.googleusercontent.com

BrowserMatch "\s360Spider$" jogai
SetEnvIfNoCase User-Agent "360Spider" jogai
deny from env=jogai
