@font-face {
font-family: 'STIXTwoMath';
src: url('../font/STIXTwoText-Medium.woff2') format('woff2');
src: url('../font/STIXTwoText-Medium.ttf') format('truetype');
}

.formula{
font-family: 'STIXTwoMath', "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo UI", "Meiryo", "Helvetica Neue", arial, sans-serif;
background: #f5f5ce;
}
