html {
  -webkit-text-size-adjust: 100%;
}

button,input,textarea{font-family:inherit;}

body{
	margin:1px;
	line-height:1.4;
	font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo UI", "Meiryo", "Noto Sans", "Helvetica Neue", arial, sans-serif;
	background-color:#8796B0;
}

a:link{
	color:#212752;
}

a:visited{
	color:#7c2f7d;
}

#google_search{
	padding: 0.5em;
}

/* 外部リンク用　aタグに追加するSVGファイル */
/* smoothScroll.jsの中の外部リンク用　aタグチェッカーと連携 */

a.external-link::after {
	content: url("../../icon/mark_newlink.svg");
	padding-left:.3em;
	display: inline-block;
	width: 14px;
	height: 14px;
}

/* サイドバーに現在地マークつける */
/* smoothScroll.jsの中のnowマーク用JavaScriptと連携 */

a.now_location {
	font-weight:bold;
}

a.now_location::after {
	content: url("../../icon/location_on.svg");
	padding-left:.2em;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: text-top;
}

/* Firefox */
@-moz-document url-prefix() {
	a.now_location::after {
		vertical-align: middle;
	}
}

/* タブの現在地を太字に */

a.now_tab {
	font-weight:bold;
}

/* スマホはリンクのhoverなしで */

@media only screen and (min-width: 768px) {
	a:link:hover{
	color:#3e4ba8;
	background-color:#e8ebfa;
	}

	a:visited:hover{
	color:#7c2f7d;
	background-color:#faf2fa;
	}
}

img{
	max-width: 100%;
	height: auto;
}

hr {
	border: none;
	border-top: 3px double #999;
	color: #999;
	overflow: visible;
	text-align: center;
	width: 90%;
	height: 5px;
}

hr::after {
	background: #FAFAFA;
	content: '§';
	padding: 0 4px;
	position: relative;
	top: -13px;
}


/* 引用blockquote */
blockquote {
	position:relative;
	padding: 10px;
	margin: 1.4em 5px;
	box-sizing: border-box;
	border:2px solid #b9bec7;
	background-color: #FAFAFA;
}
blockquote:before{
	position:absolute;
	top:-15px;
	left:-4px;
	content: '';
	display: inline-block;
	width: 30px;
	height: 20px;
	background-image: url(../icon/mark_quote1.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #FAFAFA;
	line-height:1;
}
blockquote:after{
	position:absolute;
	right:-6px;
	bottom:-15px;
	content: '';
	display: inline-block;
	width: 30px;
	height: 20px;
	background-image: url(../icon/mark_quote2.svg);
	background-repeat: no-repeat;
	background-size: contain;
	vertical-align: middle;
	line-height:1;
	background-color: #FAFAFA;
}
blockquote cite {
	display: block;
	font-size: 0.9rem;
	text-align: right;
}
blockquote p:first-child {
	margin:	0 0 0.5rem 0;
}
blockquote p:last-child {
	margin:	0.5rem 0 0 0 ;
}

/* スマホ幅で見やすい位置で<wbr>で改行入れる用 */
.breakword {
	word-break: keep-all;
	overflow-wrap: break-word;
}

/* グリッドレイアウト */

.maincontainer{
	display: grid;
	grid-template-areas:
		"header header"
		"sidebar content"
		"footer footer";
	grid-template-columns: 220px auto;
	gap: 0;
	background: #FAFAFA;
	margin:0.3rem;
	box-shadow: 0 0 10px 0 #241c1a;
}

#header{
	grid-area: header;
}

#contentcolumn{
	grid-area: content;
	background-color:#FAFAFA;
}

#leftcolumn{
	grid-area: sidebar;
	background-color:#FAFAFA;
}

#footer{
	grid-area: footer;
	width: 100%;
	background: #2E3C43;
	color: #F5F5F5;
	text-align: center;
	padding: 1.2rem 0;
}

/* 次ページリンク用　グリッドレイアウト */

.pagelink{
	display: grid;
	width: fit-content;
	grid-template-areas:
		"prev center next";
	grid-template-columns: auto auto 1fr;
	gap: 1rem;
	margin: 2rem auto 1rem auto;
}

#pageprev{
	grid-area: prev;
	text-align: right;
}

#pagecenter{
	grid-area: center;
}

#pagenext{
	grid-area: next;
	text-align: left;
}

/* 次ページリンク用　グリッドレイアウト（レスポンシブ　幅狭い時用） */
@media (max-width: 400px){
	.pagelink{
		grid-template-areas:
			"prev next"
			"center center";
		grid-template-columns: auto;
	}
	#pagecenter{
		text-align: center;
	}
}

/* ヘッダ装飾用、タイトルはhoverなし */

#topsection{
	background: #FAFAFA;
	background-repeat: repeat-x;
	background-image: url(../img/bg.svg);
	height: 50px;
	padding: 40px 0 0 0.5rem;
	font-size:1.5rem;
}

#topsection a:link:hover,
#topsection a:visited:hover,
#footer a:link:hover,
#footer a:visited:hover{
	color:initial;
	background-color:initial;
}

/* SNSシェアボタンタイトル */

.sharelist{
	margin: 1rem;
	padding: 0.25rem;
	background: #2E3C43;
	color: #F5F5F5;
	text-align: center;
}

.sharelist:before{
	content: '\25BC';
	margin-right:2px;
}

/* グリッドレイアウト内 */

.innertube{
	margin: 0px;
}

.innertube h2{
	font-size:1.2rem;
	line-height:1.3;
	margin:0.5rem 5px 0.5rem 5px;
	border-bottom:1px solid #2E3C43;
	border-top:1px solid #2E3C43;
}

.innertube ul {
	padding-left: 1.5rem;
}

.innertube li{
	margin:0.3rem 0 0.3rem 0;
}

.maincontents {
	margin: 0 5px 5px 0;
	padding: 5px;
}

.maincontents ul {
	padding-left: 2rem;
}

.maincontents ol {
	padding-left: 2rem;
}

.maincontents li{
	margin:0.3rem 0 0.3rem 0;
}

.r{
	color:#ed3e3f;
}

.bgy{
	background-color:#f5f53b;
}

.here{
	font-weight:bold;
}

/* commentbox */

.commentbox {
	margin:0 0 0 1rem;
	padding:0.5rem;
}
.box-title {
	font-size: 1rem;
	padding:0.2rem;
	margin:0;
	font-weight:bold;
}

.commentbox p {
	margin: 0.6rem 0 0.4rem 0;
}

/* Link */

.foot{
	text-align: center;
	margin: 2rem 0 1rem 0;
}

.button{
	border-radius: 10px;
	padding: 12px;
	line-height:3;
}
@media (max-width: 400px){
	.button{
		border-radius: 6px;
		padding: 8px;
	}
}
.place{
	margin:0.5rem;
	padding:0.5rem;
}

.place p:first-child {
	margin:0 0 0.5rem 0;
}
.place p:last-child {
	margin:0.5rem 0 0 0 ;
}

/* 画像 */

.imgbox{
	padding:0.5rem 0 0.5rem 0;
	margin:0.5rem;
	position: relative;
	width: 240px;
}

.imgbox .shadow{
	box-shadow: 0 0 5px 0px #314549;
}

/* 画像のズームアイコン */

.imgboxico{
	position: absolute;
	bottom:0%;
	right:0%;
	transform: translate(-5px,-15px);
	background: #FFF;
	border: 1px solid #cfd6e8;
	opacity: 0.75;
}

/* Chart */

.chart{
	list-style: none;
	border-left: 6px solid #c5c7c9;
	margin: 0 0 0 5px;
}

.chart .ch_title{
	font-size: 1.1rem;
	font-weight: bold;
	background: #c5c7c9;
	margin: 0 5px 0 -18px;
}

.chart .ch_box{
	margin: 0 0 1rem -20px;
	padding: 0.5rem 0 0 0;
	border: 1px solid #c5c7c9;
}

.chart .ch_tx{
	font-size: 1rem;
	margin: 0.5rem;
}

/* 上に戻る */

.gotop{
	display: block;
	box-sizing: border-box;
	text-align: center;
	text-decoration: none;
	opacity: 0.3;
	position: fixed;
	bottom:3rem;
	right:1.4rem;
	z-index: 10000;
	transition: 0.4s;
}

.circle{
	width: 4rem;
}

.gotop:hover{
	opacity: 0.7;
	transition: 0.4s;
}

/* アコーディオンメニュー */
.accordion {
	margin: 0 auto;
	max-width: 60vw;
}

.toggle {
	display: none;
}

.option {
	position: relative;
	margin-bottom: 0.5rem;
}

.title,
.content {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
}

.title {
	margin:	0 0.5rem 0 0;
	padding: 0.5rem;
	display: block;
	font-weight: bold;
	cursor : pointer;
}

.title_n2 {
	margin:	0 1rem 0 0;
	padding: 0.5rem;
	display: block;
	font-weight: bold;
	cursor : pointer;
	opacity: 0.95;
}

.title::after,
.title::before {
	content: "";
	position: absolute;
	right: 1.25rem;
	top: 1rem;
	width: 2px;
	height: 0.75rem;
	background-color: #1f1f21;
	transition: all 0.3s;
}

.title::after {
	transform: rotate(90deg);
}

.content {
	max-height: 0;
	overflow: hidden;
}

.content p {
	margin:	0.5rem 0 0 0.5rem;
}

.content ul{
	padding:0 0 0 1.4rem;
}

.content li{
	margin:0.2rem 0 0.2rem 0;
	text-indent: -0.3rem;
}

.toggle:checked + .title + .content {
	max-height: 800px;
	transition: all 1.5s;

}
.toggle:checked + .title::before {
	transform: rotate(90deg) !important;
}

/* flexbox */

.flexwrap {
	display: flex;
	flex-wrap: wrap;
}

.flexitem {
	padding:0.1rem 1rem 0.1rem 0;
}

.sidelink {
	margin:	0 0.5rem 0 0;
	padding: 0.5rem;
	font-weight: bold;
	cursor : pointer;
	color: #f5f9fc;
	background: #ad878a;
}

/* social button */

.social {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 0 1rem 0;
}

.social p {
	padding: 0;
	margin: 0.3rem 0;
}

/* 見出し 共通部分*/

.maincontents h1 {
	font-size: 1.1rem;
	line-height: 1.3;
	padding: 2px;
	margin: 0.2rem 0px 0.2rem 0px;
}
.maincontents H2 {
	font-size: 1.3rem;
	line-height: 1.4;
	border-style: solid;
	font-weight: bold;
	padding: 0.1rem 0 0.1rem 0.5rem;
	margin: 1rem 0px 0.1rem 0;
	border-width: 0px 0px 1px 10px;
}
.maincontents H3 {
	font-size: 1.2rem;
	line-height: 1.4;
	border-style: solid;
	font-weight: bold;
	padding: 0 0 0.1rem 0.5rem;
	margin: 1.5rem 0 0 0.5rem;
	border-width: 0px 0px 1px 3px;
}
.maincontents H4 {
	font-size: 1rem;
	line-height: 1.3;
	border-style: solid;
	font-weight: bold;
	padding: 1rem 0px 0.2rem 1rem;
	margin: 1rem 0 0 0.7rem;
	border-width: 0px 0px 1px 0px;
}
.maincontents H5 {
	font-size: 1rem;
	line-height: 1.3;
	border-style: solid;
	font-weight: bold;
	padding: 0 0 0.1rem 0.5rem;
	margin: 1rem 0 0 0.8rem;
	border-width: 0px 0px 0px 5px;
}

/* responsive layout CSS */

@media (max-width: 768px){ 

/* スマホではグリッドレイアウト一列並び */
	.maincontainer{
	display: grid;
	grid-template-areas:
		"header"
		"content"
		"sidebar"
		"footer";
	grid-template-columns: auto;
	gap: 0;
	margin:0;
	background: #FAFAFA;
	}

	#contentcolumn{
	margin: 0;
	padding: 0;
	}
	
	#leftcolumn{
	margin: 0;
	padding: 0;
	}

	.maincontents{
	margin: 0 5px 5px 5px;
	padding: 5px;
	}

	.gotop{
	display: block;
	box-sizing: border-box;
	text-align: center;
	text-decoration: none;
	opacity: 0.5;
	position: fixed;
	bottom:2em;
	right:0.1em;
	z-index: 10000;
	}
	
	.circle{
	width: 2.5rem;
	}
	
	.innertube li{
	margin:0.5rem 0 0.5rem 0;
	}

	.maincontents li{
	margin:0.5rem 0 0.5rem 0;
	}
	
	.maincontents ul {
	padding-left: 1.5rem;
	}
	
	.maincontents ol {
	padding-left: 1.5rem;
	}
	
	.imgbox{
	padding:0.2rem 0 0.2rem 0;
	margin:0.2rem;
	position: relative;
	width: 200px;
	}
}

/* Horizontal CSS Menus: 水平タブメニュー 共通部分 */

.droplinetabs{
	position: relative;
	background: #FFF;
	text-align: left;
	background-color:#FAFAFA;
	z-index: 5;
}

.droplinetabs a{
	text-decoration: none;
	display: inline-block;
	padding: 12px;
	position: relative;
}

.droplinetabs *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.droplinetabs, .droplinetabs ul{
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-perspective-origin: 50% 0%;
	perspective-origin: 50% 0%;
}

.droplinetabs li{
	display: inline;
}

/* Top Level link style */
.droplinetabs > li > a.here,
.droplinetabs > li > a.other{
	border-radius: 10px 10px 0 0;
}

/* responsive layout CSS */
@media (max-width: 768px){ 
/* Top Level link style */
	.droplinetabs > li > a.here,
	.droplinetabs > li > a.other{
		border-radius: 0;
		margin-top: 5px;
	}
}

/* drop line ULs style */
.droplinetabs ul{
	position: absolute;
	left: -5000px;
	width: 100%;
	opacity: 0;
	padding: 10px 0;
	top: auto;
	border: 1px solid #ddd;
	box-shadow: 0 3px 5px #eee;
	-webkit-transform: rotateX(-70deg);
	transform: rotateX(-70deg);
	backface-visibility: hidden;
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
/* 	-webkit-transition: opacity .3s, -webkit-transform .5s, visibility 0s .3s, left 0s .3s;
	transition: opacity .3s, transform .5s, visibility 0s .3s, left 0s .3s; */
}

/* Sub Levels link style on hover and when active */

.droplinetabs ul li:hover > a {
	border-radius: 10px;
}

/* Arrow for LIs with sub ULs */
.droplinetabs li > a:after {
	/* add arrow inside LIs */
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	border: 5px solid transparent;
	top: 45%;
	right: 8px;
}

/* Reveal sub menu on hover */
.droplinetabs li:hover > ul{
	opacity: 1;
	left: 0;
	top: auto;
	z-index: 1000;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
	-webkit-transition: opacity .5s, -webkit-transform .5s;
	transition: opacity .5s, transform .5s;
}

.droplinetabs ul li{
	display: inline;
}

/* LIs with a sub UL style */
.droplinetabs li > a {
	/* add padding to accomodate arrow inside LIs */
	padding-right: 30px;
}

/* LIs with NO sub UL style */
.droplinetabs li > a:only-child {
	/* undo padding for non submenu LIs */
	padding-right: 15px;
}

/* LIs with NO sub UL pseudo class */
.droplinetabs li > a:only-child:after {
	/* undo arrow for non submenu LIs */
	display: none;
}

/*フルスクリーンメニュー用*/

.navigation__checkbox {
	display: none;
}

.navigation__button {
	position: fixed;
	top: 0.2rem;
	right: 0.2rem;
	height: 5rem;
	width: 5rem;
	text-align: center;
	background-color: #fff;
	border-radius: 50%;
	z-index: 300;
	cursor: pointer;
	opacity: 0.5;
}

.navigation__background {
	position: fixed;
	top: 0.2rem;
	right: 0.2rem;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	background: #4A676A;
	background-size: cover;
	background-position: center;
	z-index: 100;
	transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
	opacity: 0.3;
}

.navigation__nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	opacity: 0;
	width: 0;
	visibility: hidden;
	z-index: 200;
	transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
	/*@include center;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 80%;
	list-style: none;
}

.navigation__item {
	margin: 1rem;
}

.navigation__checkbox:checked~.navigation__background {
	transform: scale(80)
}

.navigation__checkbox:checked~.navigation__nav {
	width: 100%;
	visibility: visible;
	opacity: 1;
}

.navigation__icon {
	position: relative;
	margin-top: 2.5rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
	display: inline-block;
	width: 2.2rem;
	height: 2px;
	background-color: #4A676A;
}

.navigation__icon::before,
.navigation__icon::after {
	content: '';
	position: absolute;
	left: 0;
	transition: all 200ms;
}

.navigation__icon::before {
	top: -.8rem;
}

.navigation__icon::after {
	top: .8rem;
}

.navigation__button:hover .navigation__icon::before {
	top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
	top: 1rem;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
	background-color: transparent;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
	top: 0;
	transform: rotate(135deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
	top: 0;
	transform: rotate(-135deg);
}

/* responsive layout CSS */

@media (max-width: 768px){

	.navigation__button {
		 position: fixed;
		 top: 0.2rem;
		 right: 0.2rem;
		 height: 3rem;
		 width: 3rem;
		 text-align: center;
		 background-color: #fff;
		 border-radius: 50%;
		 z-index: 300;
		 cursor: pointer;
		 opacity: 0.5;
	}
	
	.navigation__background {
		 position: fixed;
		 top: 0.2rem;
		 right: 0.2rem;
		 height: 3rem;
		 width: 3rem;
		 border-radius: 50%;
		 background: #4A676A;
		 background-size: cover;
		 background-position: center;
		 z-index: 100;
		 transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
		 opacity: 0.3;
	}
	.navigation__icon {
		 position: relative;
		 margin-top: 1.5rem;
	}
	
	.navigation__icon,
	.navigation__icon::before,
	.navigation__icon::after {
		 display: inline-block;
		 width: 1.8rem;
		 height: 2px;
		 background-color: #4A676A;
	}
	
	.navigation__icon::before,
	.navigation__icon::after {
		 content: '';
		 position: absolute;
		 left: 0;
		 transition: all 200ms;
	}
	
	.navigation__icon::before {
		 top: -.5rem;
	}
	
	.navigation__icon::after {
		 top: .5rem;
	}
	
	.navigation__button:hover .navigation__icon::before {
		 top: -.8rem;
	}
	
	.navigation__button:hover .navigation__icon::after {
		 top: .8rem;
	}
}
