/* SFCç‰ˆ */
.chk {
	margin: 0.3em;
	padding-bottom:1em;
	display: flex;
	flex-wrap: wrap;
}

.chk div {
	margin: 0.3em;
}

.enemylayout {
	position: relative;
	background: #FAFAFA;
	margin: 0.3em;
	width: 350px;
	height: 350px;
	border: 1px solid #000;
}

.enemylayout div {
	position: absolute;
}

#dio {
	top: 0px;
	left: 0px;
	width: 100px;
	height: 150px;
	background: #FFDBDB;
}

#duod1 {
	top: 0px;
	left: 250px;
	width: 100px;
	height: 150px;
	background: #DBE6FF;
}

#duod2 {
	top: 200px;
	left: 150px;
	width: 100px;
	height: 150px;
	background: #DBE6FF;
}

#pike1 {
	top: 150px;
	left: 50px;
	width: 50px;
	height: 100px;
	background: #EFFFDB;
}

#datn2 {
	top: 250px;
	left: 50px;
	width: 50px;
	height: 100px;
	background: #FFFBDB;
}

#pike3 {
	top: 150px;
	left: 300px;
	width: 50px;
	height: 100px;
	background: #EFFFDB;
}

#pike4 {
	top: 250px;
	left: 100px;
	width: 50px;
	height: 100px;
	background: #EFFFDB;
}

#datn5 {
	top: 0px;
	left: 200px;
	width: 50px;
	height: 100px;
	background: #FFFBDB;
}

#datn6 {
	top: 150px;
	left: 0px;
	width: 50px;
	height: 100px;
	background: #FFFBDB;
}

#datn7 {
	top: 150px;
	left: 250px;
	width: 50px;
	height: 100px;
	background: #FFFBDB;
}

#pike8 {
	top: 250px;
	left: 0px;
	width: 50px;
	height: 100px;
	background: #EFFFDB;
}

#datn9 {
	top: 0px;
	left: 150px;
	width: 50px;
	height: 100px;
	background: #FFFBDB;
}

#pike10 {
	top: 50px;
	left: 100px;
	width: 50px;
	height: 100px;
	background: #EFFFDB;
}

#pike11 {
	top: 100px;
	left: 150px;
	width: 50px;
	height: 100px;
	background: #EFFFDB;
}

#datn12 {
	top: 150px;
	left: 100px;
	width: 50px;
	height: 100px;
	background: #FFFBDB;
}

#iwa1 {
	top: 0px;
	left: 250px;
	width: 50px;
	height: 50px;
	background: #98724D;
}

#iwa2 {
	top: 200px;
	left: 150px;
	width: 50px;
	height: 50px;
	background: #98724D;
}

#sun {
	top: 250px;
	left: 250px;
	width: 50px;
	height: 50px;
	background: #F0864C;
}

#mad {
	top: 250px;
	left: 300px;
	width: 50px;
	height: 50px;
	background: #ccc;
}

#gld1 {
	top: 49px;
	left: 0px;
	width: 350px;
	height: 50px;
	opacity: .8;
	border-top: 1px dotted #000;
	border-bottom: 1px dotted #000;
}

#gld2 {
	top: 149px;
	left: 0px;
	width: 350px;
	height: 50px;
	opacity: .8;
	border-top: 1px dotted #000;
	border-bottom: 1px dotted #000;
}

#gld3 {
	top: 249px;
	left: 0px;
	width: 350px;
	height: 50px;
	opacity: .8;
	border-top: 1px dotted #000;
	border-bottom: 1px dotted #000;
}

#gld4 {
	top: 0px;
	left: 49px;
	width: 50px;
	height: 350px;
	opacity: .8;
	border-right: 1px dotted #000;
	border-left: 1px dotted #000;
}

#gld5 {
	top: 0px;
	left: 149px;
	width: 50px;
	height: 350px;
	opacity: .8;
	border-right: 1px dotted #000;
	border-left: 1px dotted #000;
}

#gld6 {
	top: 0px;
	left: 249px;
	width: 50px;
	height: 350px;
	opacity: .8;
	border-right: 1px dotted #000;
	border-left: 1px dotted #000;
}

@media (max-width: 480px){ 
	.enemylayout {
		width: 210px;
		height: 210px;
	}

	.enemylayout div {
		writing-mode: vertical-rl;
		font-size:smaller;
	}

	#dio {
		top: 0px;
		left: 0px;
		width: 60px;
		height: 90px;
	}

	#duod1 {
		top: 0px;
		left: 150px;
		width: 60px;
		height: 90px;
	}

	#duod2 {
		top: 120px;
		left: 90px;
		width: 60px;
		height: 90px;
	}
	
	#pike1 {
		top: 90px;
		left: 30px;
		width: 30px;
		height: 60px;
		background: #EFFFDB;
	}

	#datn2 {
		top: 150px;
		left: 30px;
		width: 30px;
		height: 60px;
		background: #FFFBDB;
	}

	#pike3 {
		top: 90px;
		left: 180px;
		width: 30px;
		height: 60px;
		background: #EFFFDB;
	}

	#pike4 {
		top: 150px;
		left: 60px;
		width: 30px;
		height: 60px;
		background: #EFFFDB;
	}

	#datn5 {
		top: 0px;
		left: 120px;
		width: 30px;
		height: 60px;
		background: #FFFBDB;
	}

	#datn6 {
		top: 90px;
		left: 0px;
		width: 30px;
		height: 60px;
		background: #FFFBDB;
	}

	#datn7 {
		top: 90px;
		left: 150px;
		width: 30px;
		height: 60px;
		background: #FFFBDB;
	}

	#pike8 {
		top: 150px;
		left: 0px;
		width: 30px;
		height: 60px;
		background: #EFFFDB;
	}

	#datn9 {
		top: 0px;
		left: 90px;
		width: 30px;
		height: 60px;
		background: #FFFBDB;
	}

	#pike10 {
		top: 30px;
		left: 60px;
		width: 30px;
		height: 60px;
		background: #EFFFDB;
	}

	#pike11 {
		top: 60px;
		left: 90px;
		width: 30px;
		height: 60px;
		background: #EFFFDB;
	}

	#datn12 {
		top: 90px;
		left: 60px;
		width: 30px;
		height: 60px;
		background: #FFFBDB;
	}
	
	#iwa1 {
		top: 0px;
		left: 150px;
		width: 30px;
		height: 30px;
	}

	#iwa2 {
		top: 120px;
		left: 90px;
		width: 30px;
		height: 30px;

	}

	#sun {
		top: 150px;
		left: 150px;
		width: 30px;
		height: 30px;
	}

	#mad {
		top: 150px;
		left: 180px;
		width: 30px;
		height: 30px;
	}

	#gld1 {
		top: 30px;
		left: 0px;
		width: 210px;
		height: 30px;
	}

	#gld2 {
		top: 90px;
		left: 0px;
		width: 210px;
		height: 30px;
	}

	#gld3 {
		top: 150px;
		left: 0px;
		width: 210px;
		height: 30px;
	}

	#gld4 {
		top: 0px;
		left: 30px;
		width: 30px;
		height: 210px;
	}

	#gld5 {
		top: 0px;
		left: 90px;
		width: 30px;
		height: 210px;
	}

	#gld6 {
		top: 0px;
		left: 150px;
		width: 30px;
		height: 210px;
	}
}